body{
    font-family: "Outfit",sans-serif;
    background-color:  hsl(212, 45%, 89%);
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    min-height: 100svh; 
    padding: 16px;
    margin: 0; 
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 15rem;
    margin: auto;
    /* margin-top: 5%; */
}

img{
   display: block;
   max-width: 100%;  /*makes the image shrink to fit inside its container.*/
   height: auto;
   margin-bottom: 15px;
   border-radius: 10px;

}

.card-title{
    text-align: center;
    color: hsl(218, 44%, 22%);
    padding-inline: 10px;
}

.card-title p{
    font-size: 0.9rem;
    color:hsl(216, 15%, 48%);
}